.account-info-controller {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logged-in-as-container {
    width: 40%;
    margin: 1% auto; 
}

.avatar {
    border-radius: 100%;
    width: 10em;
    margin-bottom: 1em;
}

.acct-info {
    line-height: 3;
}

@media (max-width: 414px) {
    .logged-in-as-container {
        width: 85%;
        margin: 9% auto;
    }

    .avatar {
        width: 7em;
    }
}