.account-info-controller {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logged-in-as-container {
    width: 40%;
    margin: 1% auto; 
}

.acct-info {
    line-height: 3;
}

.auth0-login-container {
    width: 35%;
}

@media only screen and (min-width: 360px) and (min-height: 640px) {
    .logged-in-as-container {
        width: 70%;
    }
}
@media only screen and (min-width: 375px) and (min-height: 812px) {}

@media only screen and (min-width: 640px) and (min-height: 360px) {
    .logged-in-as-container {
        width: 70%;
    }
}