.include-your-favorite-records {
    margin: 5.5em auto;
    flex-direction: column;
    width: 80%;
}

.form-input {
    width: 80%;
    margin: 1em auto;
}

.form-album-display {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 5% 0;
}

@media (max-width:499px) {
    .form-album-display {
        flex-direction: column;
    }

    .form-input {
        width: 80%;
        margin: .25em auto;
    }
}