.include-your-favorite-records {
    margin: -50px auto;
    flex-direction: column;
    width: 80%;
}

.form-input {
    width: 80%;
    margin: 1em auto;
}

.logged-in-as-container {
    margin: 7% auto;
}

@media screen and (min-width:360px) {
    .max-verticle-height.include-your-favorite-records {
        max-height: 80vh;
    }
    .include-your-favorite-records {
        margin: -75px auto;
    }
}