.album-controls-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.album-element.album-art {
    margin: 10px auto;
    max-width: 15em;
    max-height: 15em;
}

.about-album {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.album-remove {
    width: 102px;
    margin: 15px auto;
}

.jukebox-rating-right {
    padding: 5px;
    border-radius: 18px;
    width: 30px;
    box-sizing: border-box;
    background: #fff;
    color: #3D53B5;
}
