.auth0-login-container {
    margin: 85% auto;
}

.login-button {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
}

.login-button:hover {
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.9), 0 0px 0px 0 rgba(255, 255, 255, 0.10);
}


@media(min-width: 360px) and (min-height: 640px) {
    .auth0-login-container {
        margin: 60% auto;
    }
}
@media(min-width: 375px) and (min-height: 812px) {
    .auth0-login-container {
        margin: 82% auto;
    }
}
@media(min-width: 640px) and (min-height: 360px) {
    .auth0-login-container {
        margin: 12% auto;
    }
}
@media(min-width: 412px) and (min-height: 732px) {
    .auth0-login-container {
        margin: 56% auto;
    }
}
@media(min-width: 732px) and (min-height: 412px) {
    .auth0-login-container {
        margin: 15% auto;
    }
}
@media(min-width: 414px) and (min-height: 736px) {
    .auth0-login-container {
        margin: 65% auto;
    }
}
@media(min-width: 736px) and (min-height: 414px) {
    .auth0-login-container {
        margin: 14% auto;
    }
}
@media(min-width: 812px) and (min-height: 375px) {
    .auth0-login-container {
        margin: 11% auto;
    }
}
@media(min-width: 768px) and (min-height: 1024px) {
    .auth0-login-container {
        margin: 55% auto;
    }
}
@media(min-width: 1024px) and (min-height: 768px) {
    .auth0-login-container {
        margin: 30% auto;
    }
}
@media(min-width: 1024px) and (min-height: 1366px) {
    .auth0-login-container {
        margin: 58% auto;
    }
}
@media(min-width: 1366px) and (min-height: 1025px) {
    .auth0-login-container {
        margin: 32% auto;
    }
}
