.App-footer {
    bottom: 0;
    position: fixed;
    left: 0px;
    width: 100%;
    height: 75px;
    justify-content: center;
    color: #fff;
}

.audio-box {
    margin-top: 2.5%;
}

@media (max-width: 414px) {
    .audio-box {
        margin-top: 5.5%;
    }
}