.App-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    justify-content: center;
    color: #fff;
}

.inner-header {
    display: flex;
}

@media (min-width:500px) {
    .my-juke-joint {
        font-size: 3em;
    }
    .inner-header {
        padding: .5em 1em;
    }
}

@media (max-width:499px) {
    .my-juke-joint {
        font-size: 2em;
    }
    .inner-header {
        padding: 1.25em 1em;
    }
}