.App-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    justify-content: center;
    z-index: 3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bbd4), color-stop(1, #3f51b5));
    background-image: -webkit-linear-gradient(top, #00bbd4 0%, #3f51b5 100%);
    background-image: linear-gradient(to bottom, #00bbd4 0%, #3f51b5 100%);
    background-image: -webkit-linear-gradient(93deg, #3f51b5 0%, #00bbd4 100%);
    color: #fff;
}

.inner-header {
    display: flex;
}

@media (min-width:500px) {
    .my-juke-joint {
        font-size: 3em;
    }
    .inner-header {
        padding: .5em 1em;
    }
}

@media (max-width:499px) {
    .my-juke-joint {
        font-size: 2em;
    }
    .inner-header {
        padding: 1.25em 1em;
    }
}