.tracks-view-container {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.line-height  {
    line-height: 5;
}


@media (max-width: 665px) {
    .tracks-view-container {
        display: flex;
        flex-direction: column;
    }
    .info-container {
        padding: 0 0;
    }
    .line-height {
        line-height: inherit;
    }
    
}

@media (max-width: 414px) {
    .line-height {
        line-height: inherit;
    }
}