.App {
  overflow-y: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h1, h2, h3, h4,
.my-juke-joint {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.mix-blend {
  mix-blend-mode: difference;
  color: #fff;
}

ul {
  list-style: none;
}