/* font-family: 'Roboto', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Rubik', sans-serif; */
/* colors
 pink: #ff1493 0%,
 green: #1abc9c 100%
 off white: #ecf0f1
 blue: #3498db 
 gold: #ffd700*/
body {
  font-family: 'Roboto', sans-serif;
  color: #ffd700;
}

h1, h2, h3, h4,
.my-juke-joint {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffff;
}

ul {
  list-style: none;
}

.top-z {
    position: relative;
    z-index: 3;
}

.App {
  text-align: center;
}

.nav-controller {
    z-index: 3;
    position: relative;
    display: flex;
}

.allow-flex-grow {
  flex-grow: 1;
}

.controller {
  margin: 4.75em 0 0 0;
}