.main-wrapper {
    height: -webkit-fill-available;
    background: linear-gradient(to right, #ff1493 0%, #1abc9c 100%);
    height: inherit;
    width: 100%;
}

.main-inner {
    border: 1px solid gold;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    position: relative;
    top: 6em;
    border-radius: 5px;
}

.tab {
    background: #ffd700;
    height: 3em;
    border-radius: 5px 5px 0 0px;
    bottom: 20px;
    position: relative;
}

.tab h3 {
    padding: .75em 0;
    color: #ff1493;
}

.input-search {
    width: inherit;
    border: 1px solid #ffd700;
    border-radius: 5px 0px 0px 5px;
    padding:5px 5px 5px 5px;
}

.button-search {
    border: 1px solid #ffd700;
    border-radius: 0px 5px 5px 0px;
    padding:5px 5px 5px 5px;
    background: #3498db;
    color: #ffd700;
}